/*#region Reset and common styles*/
.hide {
  display: none;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  border: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
/*#endregion */

/*#region Header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 758px) {
  .header-logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}

.header-nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 40px;
  }
}

.logo-accent {
  color: #2e2f42;
}

.header-nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current {
  color: #404bbf;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.header-nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-nav-link.current::after {
  display: block;
}

.header-contacts {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-contacts {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .header-contacts-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-contacts-list {
    flex-direction: row;
    gap: 40px;
  }
}

.header-contacts-link {
  display: block;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
  .header-contacts-link {
    padding: 24px 0;
  }
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.header-burder-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.header-burder-button svg {
  fill: #2f2f37;
}

@media only screen and (min-width: 768px) {
  .header-burder-button {
    display: none;
  }
}
/*#endregion */

/*#region Hero */
.hero {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

@media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg@2x_mob.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg_tab.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg@2x_tab.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-1@2x_desk.jpg);
  }
}

.main-title {
  max-width: 216px;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .main-title {
    max-width: 496px;
    margin: 0 auto 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media only screen and (min-width: 1158px) {
  .main-title {
    margin: 0 auto 48px;
  }
}

.hero-button {
  display: block;
  min-width: 169px;
  min-height: 56px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/*#endregion */

/*#region About*/
.about {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .about {
    padding: 120px 0;
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .about-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 768px) {
  .about-card {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .about-card {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.about-icon-container {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .about-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
    padding: 24px 0;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
  }
}

.about-icon {
}

.about-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

@media only screen and (min-width: 768px) {
  .about-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .about-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.about-text {
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
  .about-text {
    font-weight: 400;
  }
}
/*#endregion */

/*#region Team*/
.team {
  padding: 96px 0;
  background-color: #f4f4fd;
}

@media only screen and (min-width: minwidthpx) {
  .team {
    padding: 120px 0;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px;
  }
}

@media only screen and (max-width: 1157px) {
  .team-list {
    justify-content: center;
  }
}

.team-card {
  flex-basis: calc((100% - 3 * 24) / 4);
  border-radius: 0 0 4px 4px;
  flex-shrink: 0;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  text-align: center;
}

/* .team-card-image {
  margin-bottom: 32px;
} */

.team-card-box {
  padding: 32px 0px;
}

.team-card-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-card-description {
  margin-bottom: 8px;
  letter-spacing: 0.02em;
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-social-item {
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card:hover .team-social-link {
  background-color: #404bbf;
}

.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-icon {
  fill: #f4f4fd;
}

.team-card:hover .team-social-link:hover,
.team-card:hover .team-social-link:focus {
  background-color: #404bbf;
}
/*#endregion */

/*#region Portfolio*/
.portfolio {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .portfolio-card {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-card {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

.portfolio-card-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .portfolio-image {
    height: 300px;
  }
}

.portfolio-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  background-color: #4d5ae5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-card-overlay {
  transform: translateY(0%);
}

.portfolio-card-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}

.portfolio-card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-card-description {
  letter-spacing: 0.02em;
}
/*#endregion */

/*#region Footer*/
.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px 24px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding-left: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    gap: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-left {
    margin-right: 120px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    display: inline-block;
    text-align: left;
  }
}

.footer .logo-accent {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-right {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-right {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-right {
    margin-right: 80px;
  }
}

.footer-right-text {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer-form {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-form {
    text-align: left;
  }
}

.footer-form-subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-form-wrapper {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-form-input {
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}

.footer-form-input::placeholder {
  color: #fff;
}
.footer-form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.footer-form-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  padding-right: 64px;
  max-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .footer-form-button {
    margin: 0 auto;
  }
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #404bbf;
}
.footer-form-ico {
  position: absolute;
  top: 8px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  fill: #fff;
}

/*#endregion */

/*#region Modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  background-color: rgba(46, 47, 66, 0.4);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;
  margin: 0 auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-ico {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
  border: none;
  background-color: #404bbf;
}
.modal-close-button:hover .modal-close-ico,
.modal-close-button:focus .modal-close-ico {
  fill: #fff;
}
.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input-wrapper {
  margin-bottom: 8px;
}
.modal-ico-wrapper {
  position: relative;
}
.modal-input-wrapper:last-of-type {
  margin-bottom: 24px;
}
.modal-input-wrapper:nth-child(4) {
  margin-bottom: 16px;
}
.modal-input {
  padding: 11px 16px 11px 34px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
  .modal-input {
    padding: 11px 16px 11px 38px;
  }
}

.modal-input-ico {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.modal-input:focus + .modal-input-ico {
  fill: #4d5ae5;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-agreement-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

@media only screen and (max-width: 767px) {
  .modal-agreement-label {
    display: flex;
    align-items: center;
  }
}

.modal-custom-checkbox {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  flex-shrink: 0;
}
.modal-custom-checkbox-ico {
  fill: #fcfcfc;
}
.modal-agreement-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
input[type="checkbox"]:checked
  + .modal-agreement-label
  > .modal-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
input[type="checkbox"]:focus-visible
  + .modal-agreement-label
  > .modal-custom-checkbox {
  border-color: #4d5ae5;
}
input[type="checkbox"]:checked
  + .modal-agreement-label
  > .modal-custom-checkbox
  > .modal-custom-checkbox-ico {
  fill: #f4f4fd;
}
.modal-submit-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-button:hover {
  background: #404bbf;
}
/*#endregion */

/*#region */
@media only screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 72px 16px 40px;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}
@media only screen and (max-width: 767px) {
  .modal-close-button.mobile-menu-button {
    background-color: transparent;
    top: 24px;
    right: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .modal-close-button.mobile-menu-button {
    display: none;
  }
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}
.mobile-menu-nav-item {
}
.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-nav-link.active {
  color: #404bbf;
}
.mobile-menu-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mobile-menu-address-item {
}
.mobile-menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-address-link.number {
  color: #4d5ae5;
}
.mobile-menu-social-list {
  display: flex;
  gap: 40px;
}
.footer-social-item {
}
.footer-social-link {
}
.footer-social-icon {
}
/*#endregion */
